h1 {
  color: green;
}

p {
  background-color: pink;
}

img {
    max-width: 100%;
}

.column {
  display: inline-block;
  width: 48%;
}

.col1 {
  background-color: aqua;
}

.col2 {
  border: 5px solid black;
}

.col1 h1 {
  color: white;
}

/**HERO SECTION**/
.hero {
  height: 100vh;
  background-color: blue;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background: url("background.jpg") no-repeat cover;
  position: relative;
}

.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .column {
    display: block;
    width: 100%;
  }
}